* {
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(131, 15, 15, 0.9) !important;
}

.hdr {
    height: 25vh;
    width: 100%;
    background-color: rgba(122, 23, 23, 0.9);
    box-shadow: 0px 10px 15px rgba(180, 140, 140, 0.9);
    position: relative;
    z-index: 10;
}

.dnevnikttl {
    padding-top: 20%;
    color: ghostwhite;
    text-align: center;
    font-size: 3.8em;
    margin: 0;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    background-color: ghostwhite;
    overflow-x: hidden;
    transition: 0.8s;
}

.overlay-content {
    position: relative;
    top: 12%;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.overlay a {
    padding: 5%;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay span {
    padding: 5%;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay span:hover, .overlay span:focus {
    color: #8a8484;
    text-decoration: none;
}

.overlay a:hover, .overlay a:focus {
    color: #8a8484;
    text-decoration: none;
}

.overlay .closebtn {
    position: absolute;
    top: 5%;
    right: 7%;
    font-size: 2.2em;
    color: #818181;
}

.otvorimeni {
    position: fixed;
    z-index: 1000;
    display: inline-block;
    font-size: 2em;
    top: 0;
    left: 0;
    padding-left: 6%;
    padding-top: 6%;
    color: ghostwhite;
    opacity: 0.9;
}

.otvorimeni:hover {
    color: rgb(151, 151, 155);
    opacity: 1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.glavni {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 2px;
    grid-auto-flow: dense;
}